* {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.title{
    font-size: 40px;
    font-weight: bolder;
}


.menu li{
    background-color: beige;
}
.menu a{
    font-size: 1.3rem;
}
.menu .odd{
    background-color: bisque;
}

